@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.container {
background-color: #c7c7c7;
}
.head {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border: solid 1px rgb(218, 218, 218);
    width: 100%;
   
}

  
  .fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .empty {
    height: 160px;
    width: 160px;
    margin: 10px;
    border: solid 3px rgb(155, 153, 153);
    background: white;
  
  }
  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

  .div-empty {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 20px;
  }